*.swp
**/__pycache__/**
deit/imnet_resnet50_scratch/timm_temp/
deit/.dumbo.json
deit/checkpoints/
deit/wandb/*
deit/outputs/*
plots/*
eigen_analysis/*.pth
eigen_analysis/.ipynb_checkpoints/*
gmm/pi/pi_lm_norm.pkl
gmm/pi/pi_lm.pkl
# gmm/pi/pi_img_deit.pkl
