*.swp
**/__pycache__/**
deit/imnet_resnet50_scratch/timm_temp/
deit/.dumbo.json
deit/checkpoints/
deit/wandb/*
deit/outputs/*
plots/*
eigen_analysis/*.pth
eigen_analysis/.ipynb_checkpoints/*

gmm/pi/*.pkl

gmm/pi/*.npy
gmm/attn/*.npy
gmm/logs/eigen_log.csv
gmm/eigen/*.npy
gmm/plots/test_ir/*
swin/wandb/*
swin/output/*

**/.DS_Store
transformer-xl/pytorch/wandb/*
transformer-xl/pytorch/run_wt103_base_custom.sh
